#Ruleta .seccion:first-child{
    transform: rotate(0deg) skewY(-60deg);
}

#Ruleta .seccion:nth-child(2){
    transform: rotate(30deg) skewY(-60deg);
}
#Ruleta .seccion:nth-child(3){
    transform: rotate(60deg) skewY(-60deg);
}
#Ruleta .seccion:nth-child(4){
    transform: rotate(90deg) skewY(-60deg);
}
#Ruleta .seccion:nth-child(5){
    transform: rotate(120deg) skewY(-60deg);
}
#Ruleta .seccion:nth-child(6){
    transform: rotate(150deg) skewY(-60deg);
}
#Ruleta .seccion:nth-child(7){
    transform: rotate(180deg) skewY(-60deg);
}
#Ruleta .seccion:nth-child(8){
    transform: rotate(210deg) skewY(-60deg);
}
#Ruleta .seccion:nth-child(9){
    transform: rotate(240deg) skewY(-60deg);
}
#Ruleta .seccion:nth-child(10){
    transform: rotate(270deg) skewY(-60deg);
}
#Ruleta .seccion:nth-child(11){
    transform: rotate(300deg) skewY(-60deg);
}
#Ruleta .seccion:nth-child(12){
    transform: rotate(330deg) skewY(-60deg);
}

#Ruleta .seccion:nth-child(6).seccionContainer{
    background-color: orange
}